# Write a function to calculate gini index for the given dataset

x: list of counts
<br>
if we have 30 elements from one class, 40 elements from the second and 50 elements from third then x == [30,40,50]

In [53]:
def gini(x:list):
    return ... # return gini index

In [5]:

def gini(list_of_values):
    sorted_list = sorted(list_of_values)
    height, area = 0, 0
    for value in sorted_list:
        height += value
        area += height - value / 2.
    fair_area = height * len(list_of_values) / 2.
    return (fair_area - area) / fair_area

# Write a function to calculate gini index for the given split

x: list of counts for the left dataset 
<br>
y: list of counts for the right dataset

In [ ]:
def split_gini(x:list, y:list):
    return ...

In [6]:
def split_gini(list_of_values_1, list_of_values_2):
    normalized_gini = gini(list_of_values_1)/gini(list_of_values_2)
    return split_gini

# Appply Decision Tree Classifier on the 'classification.csv' dataset from the previous homework.

In [7]:
# Load libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Importing Decision Tree Classifier
from sklearn.model_selection import train_test_split # Importing train_test_split function
from sklearn import metrics #Importing scikit-learn metrics module for accuracy calculation

In [18]:
#Loading Data
import pandas as pd
df = pd.read_csv ('classification.csv')
df.head()

,age,ed,employ,address,income,debtinc,creddebt,othdebt,default
0,41,college degree,17,12,176,9.3,11.359392,5.008608,1
1,27,no high school,10,6,31,17.3,1.362202,4.000798,0
2,40,no high school,15,14,55,5.5,0.856075,2.168925,0
3,41,no high school,15,14,120,2.9,2.658720,0.821280,0
4,24,high school,2,0,28,17.3,1.787436,3.056564,1

In [27]:
new_df = pd.get_dummies(df, columns=['ed'], prefix = ['ed'])

In [31]:
new_df

,age,employ,address,income,debtinc,creddebt,othdebt,default,ed_college degree,ed_high school,ed_no high school,ed_postgraduate,ed_undergraduate
0,41,17,12,176,9.3,11.359392,5.008608,1,1,0,0,0,0
1,27,10,6,31,17.3,1.362202,4.000798,0,0,0,1,0,0
2,40,15,14,55,5.5,0.856075,2.168925,0,0,0,1,0,0
3,41,15,14,120,2.9,2.658720,0.821280,0,0,0,1,0,0
4,24,2,0,28,17.3,1.787436,3.056564,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,36,6,15,27,4.6,0.262062,0.979938,1,0,1,0,0,0
696,29,6,4,21,11.5,0.369495,2.045505,0,0,1,0,0,0
697,33,15,3,32,7.6,0.491264,1.940736,0,0,0,1,0,0
698,45,19,22,77,8.4,2.302608,4.165392,0,0,0,1,0,0
699,37,12,14,44,14.7,2.994684,3.473316,0,0,0,1,0,0

In [35]:
#Feature Selection
#spliting dataset in features and target variable
X = new_df.drop('default', axis=1).values # Features
y = new_df['default'].values # Target variable

In [36]:
#Splitting the dataset into the Training set and Test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [37]:
#Building Decision Tree Model
# Createing Decision Tree classifer object
clf = DecisionTreeClassifier()

# Training Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predicting the response for test dataset
y_pred = clf.predict(X_test)

In [62]:
#Evaluating the Algorithm
# Model Accuracy, how often is the classifier correct?
print("Confusion Matrix:", "\n", metrics.confusion_matrix(y_test,y_pred))
print ("\n", "\n")
print("Report:",  "\n", metrics.classification_report(y_test,y_pred))
print ("\n", "\n")
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

Confusion Matrix:
 [[98 33]
 [21 23]]



Report:
               precision    recall  f1-score   support

           0       0.82      0.75      0.78       131
           1       0.41      0.52      0.46        44

    accuracy                           0.69       175
   macro avg       0.62      0.64      0.62       175
weighted avg       0.72      0.69      0.70       175




Accuracy: 0.6914285714285714

In [50]:
#Visualizing Decision Trees
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO  
from IPython.display import Image  
import pydotplus

dot_data = StringIO()
export_graphviz(clf, out_file=dot_data, filled=True, rounded=True,
                special_characters=True,feature_names = feature_cols,class_names=['0','1'])
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
graph.write_png('classification.png')
Image(graph.create_png())

ModuleNotFoundError: No module named 'pydotplus'

# Implement Random Forest

In [ ]:
class RandomForest:
    #def __init__(...):
    def __init__(self, data, n_trees, n_features, ratio = 1):
        self.data = data
        self.n_trees = n_trees
        self.n_features = n_features
        self.ratio = ratio
        self.trees = []
        
    def fit(...):
        ...
        
   ## def predict(...):
    def predict(self, row): 
        predictions = set()
        for tree in self.trees:
               predictions.add(tree.predict(row))
        return max(predictions, key=predictions.count)
    
    def score(...):
        ...

Object `RandomForest` not found.